<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
	  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-init-method="init" default-destroy-method="destroy">

	<bean id="customerJobImpl" class="com.china.center.oa.customer.job.impl.CustomerJobImpl" />
	
	<bean id="customerLocationJobImpl" class="com.china.center.oa.customer.job.impl.CustomerLocationJobImpl" />
	
	<bean id="changeStatusJobImpl" class="com.china.center.oa.customer.job.impl.ChangeStatusJobImpl" />
	
	<bean id="publicTriggerHander" class="com.china.center.oa.publics.trigger.PublicTriggerHander">
		<property name="dayJobList">
			<list>
				<ref bean="customerJobImpl" />
			</list>
		</property>
		<property name="hourJobList">
			<list>
				<ref bean="changeStatusJobImpl" />
			</list>
		</property>
	</bean>

	<bean id="queryListenerCreditImpl" class="com.china.center.oa.credit.listener.impl.QueryListenerCreditImpl" />
	
	<bean id="queryListenerCreditItemSecListImpl" class="com.china.center.oa.credit.listener.impl.QueryListenerCreditItemSecListImpl" />
	
	<bean id="defaultLoadQueryListener" class="com.china.center.oa.publics.listener.DefaultLoadQueryListener">
		<property name="listenerList">
			<list>
				<ref bean="queryListenerCreditImpl" />
				<ref bean="queryListenerCreditItemSecListImpl" />
			</list>
		</property>
	</bean>
	
	<bean id="stafferListenerCustomerImpl" class="com.china.center.oa.client.listener.impl.StafferListenerCustomerImpl" />
	
	<bean id="defaultLoadListener" class="com.center.china.osgi.publics.DefaultLoadListener">
		<property name="listenerManager">
			<ref bean="stafferManager"/>
		</property>
		<property name="listenerList">
			<list>
				<ref bean="stafferListenerCustomerImpl" />
			</list>
		</property>
	</bean>
	
	<bean id="locationListenerCustomerImpl" class="com.china.center.oa.client.listener.impl.LocationListenerCustomerImpl" />
	
	<bean id="defaultLoadListener2" class="com.center.china.osgi.publics.DefaultLoadListener">
		<property name="listenerManager">
			<ref bean="locationManager"/>
		</property>
		<property name="listenerList">
			<list>
				<ref bean="locationListenerCustomerImpl" />
			</list>
		</property>
	</bean>

</beans>
