<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ex="http://www.springframework.org/schema/ex"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/ex 
  http://www.springframework.org/schema/ex/spring-ex-2.0.xsd
  http://www.springframework.org/schema/osgi
  http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<osgi:service ref="groupDAO" interface="com.china.center.oa.group.dao.GroupDAO" />

	<osgi:service ref="groupVSStafferDAO" interface="com.china.center.oa.group.dao.GroupVSStafferDAO" />

	<osgi:service ref="groupManager" interface="com.china.center.oa.group.manager.GroupManager" />

	<osgi:service ref="attachmentDAO" interface="com.china.center.oa.mail.dao.AttachmentDAO" />

	<osgi:service ref="mailDAO2" interface="com.china.center.oa.mail.dao.MailDAO2" />

	<osgi:service ref="mailDAO" interface="com.china.center.oa.mail.dao.MailDAO" />

	<osgi:service ref="mailMangaer" interface="com.china.center.oa.mail.manager.MailMangaer" />

	<osgi:service ref="mailGroupFacade" interface="com.china.center.oa.mg.facade.MailGroupFacade" />

</beans>
