<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ex="http://www.springframework.org/schema/ex"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/ex 
  http://www.springframework.org/schema/ex/spring-ex-2.0.xsd
  http://www.springframework.org/schema/osgi
  http://www.springframework.org/schema/osgi/spring-osgi.xsd"
	default-autowire="byName" default-init-method="init">

	<osgi:reference id="actionConfigManager" interface="com.china.center.struts.wrap.ActionConfigManager" />
	
	<osgi:reference id="publicFacade" interface="com.china.center.oa.publics.facade.PublicFacade" />
	
	<osgi:reference id="commonDAO" interface="com.china.center.oa.publics.dao.CommonDAO" />
	
	<osgi:reference id="stafferDAO" interface="com.china.center.oa.publics.dao.StafferDAO" />
	
	<osgi:reference id="orgManager" interface="com.china.center.oa.publics.manager.OrgManager" />
	
	<osgi:reference id="groupDAO" interface="com.china.center.oa.group.dao.GroupDAO" />

	<osgi:reference id="groupVSStafferDAO" interface="com.china.center.oa.group.dao.GroupVSStafferDAO" />

	<osgi:reference id="groupManager" interface="com.china.center.oa.group.manager.GroupManager" />

	<osgi:reference id="attachmentDAO" interface="com.china.center.oa.mail.dao.AttachmentDAO" />

	<osgi:reference id="mailDAO2" interface="com.china.center.oa.mail.dao.MailDAO2" />

	<osgi:reference id="mailDAO" interface="com.china.center.oa.mail.dao.MailDAO" />

	<osgi:reference id="mailMangaer" interface="com.china.center.oa.mail.manager.MailMangaer" />

	<osgi:reference id="mailGroupFacade" interface="com.china.center.oa.mg.facade.MailGroupFacade" />

</beans>
