INPUT.SearchBox {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; BORDER-LEFT: 1px; WIDTH: 160px; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: 1px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #b6c2dc
}
INPUT.SearchButton {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10px; BORDER-LEFT: medium none; WIDTH: 50px; COLOR: #003366; BORDER-BOTTOM: medium none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #e4e9ef; TEXT-ALIGN: center
}
INPUT.ButtonMenuStyle {
	BORDER-RIGHT: #000066 1px; BORDER-TOP: #000066 1px; FONT-SIZE: 10px; BORDER-LEFT: #000066 1px; COLOR: #ffffff; BORDER-BOTTOM: #000066 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #002d5e; TEXT-ALIGN: center
}
INPUT.jobButton {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10px; BORDER-LEFT: medium none; COLOR: #003366; BORDER-BOTTOM: medium none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #b6c2dc; TEXT-ALIGN: center
}
TD.navHistory {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: verdana, helvetica, sans-serif
}
TD.navHistory A {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: verdana, helvetica, sans-serif
}
FONT.navHistory_on {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: verdana, helvetica, sans-serif
}
TD.navHistory A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TD.navHistory A:hover {
	TEXT-DECORATION: underline
}
UL UL {
	LIST-STYLE-TYPE: circle
}
TD.sidebarTitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 19px; PADDING-BOTTOM: 10px; COLOR: white; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #002d5e
}
TD.mainTitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 19px; PADDING-BOTTOM: 10px; COLOR: white; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #002d5e
}
TD.sidebarBody {
	WIDTH: 180px
}
TD.mainBody {
	WIDTH: 500px
}
TD.sidebarBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e6eaf3
}
TD.mainBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e6eaf3
}
TD.sidebarBody UL {
	MARGIN-TOP: 3px; COLOR: #666666; PADDING-TOP: 3px
}
TD.sidebarBody UL UL {
	PADDING-LEFT: 6px; MARGIN-LEFT: 6px; COLOR: #666666
}
TD.mainBody {
	PADDING-RIGHT: 68px
}
TD.mainBody {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.mainBody TD {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.mainBody LI {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.relatedMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #aaaaaa; FONT-FAMILY: verdana, helvetica, sans-serif; TEXT-DECORATION: none
}
A.relatedMenu_on {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #aaaaaa; FONT-FAMILY: verdana, helvetica, sans-serif; TEXT-DECORATION: none
}
A.relatedMenu_on {
	COLOR: #003366
}
FORM {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.table_body {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.table_color {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003082
}
.table_title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #808080
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #808080
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #808080
}
.front_table_title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.front A {
	COLOR: #666666; TEXT-DECORATION: none
}
.front A:hover {
	TEXT-DECORATION: underline
}
.front_table_body {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.footer {
	FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: verdana, helvetica, sans-serif
}
TD.footer A {
	FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: verdana, helvetica, sans-serif
}
#cmsBody {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6eaf3
}
#cmsBody TD {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6eaf3
}
#cmsBody LI {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6eaf3
}
#cmsBody {
	PADDING-RIGHT: 68px; WIDTH: 500px
}
